@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    justify-content: space-around;
  }

  .text-container {
    margin: auto;
  }

  img {
    max-width: 300px;
    margin: 2rem auto;
  }
  h1 {
    max-width: 350px;
    font-size: 2.5rem;
  }
  .text-container p {
    max-width: 328px;
    font-size: 1.125rem;
  }
}
